h6{
    color:blueviolet;
}
h6:hover{
    text-shadow: 2px 3px 5px red;
    border:solid;
    border-color: blueviolet;
    background-color: brown;

}
p.speech
{
    color:black;
    font-size:10x;
    font-family: 'Courier New', Courier, monospace; }
p.direction{
    color:red;font-size:10x; }

p.direction.hover{
    color:blue;
    font:10px;
    background-color: pink;
}
.JOEL{
    font-style:bold;
    color:black;
}
.ANDREW{
    font-size:bold;
    color:black;
}
.ANDREW{

}
table{border: solid 4px red;
    border-collapse:collapse;
    padding:10px;
    margin: 70px 14em 15pt 15%;}

 td,th{
    border:solid 2px;
     text-align:center;
}
tr:nth-child(even)
{
   background-color:pink;
}
h6:hover{
    background-color:aquamarine;
    border:solid 4px;
    box-shadow:orange;
}
